<!DOCTYPE html>
<html lang="en" ng-app="krutz">

<head>
  <title>Garfield</title>
  <meta name="author" content="Justin Haddock" />
  <script src="js/angular.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/app.js"></script>
  <script src="js/angular-ui-router.js"></script>

  <script src="js/ngDialog.js"></script>
  <link rel="stylesheet" href="css/ngDialog-theme-default.css">



  <link rel="stylesheet" type="text/css" href="css/stylesheet.css" />
</head>

<body>
  <div ui-view></div>

</body>

</html>
